<launch>  
  <!-- Setup -->
  <include file="$(find switch_vis_exp)/launch/setup.launch" />
  
  <!-- Launch tag tracker -->
  <include file="$(find switch_vis_exp)/launch/estimators.launch" >
    <arg name="estimator" value="true" />
    <arg name="ekf" value="false" />
    <arg name="recordData" value="false" />
  </include>
</launch>
