<launch>
  <arg name="useVelocityMap" default="false" />
  
  <!-- Setup -->
  <include file="$(find switch_vis_exp)/launch/setup.launch" >
    <arg name="drive" value="$(arg useVelocityMap)" />
  </include>
  
  <!-- Launch tag tracker -->
  <include file="$(find switch_vis_exp)/launch/estimators.launch" >
    <arg name="estimator" value="true" />
    <arg name="ekf" value="true" />
    <arg name="recordData" value="false" />
    <arg name="useVelocityMap" value="$(arg useVelocityMap)" />
  </include>
</launch>
