<launch>
  <!-- Launch Parameters -->
  <arg name="drive" default="false" /> <!-- drive turtlebot in circles -->
  <arg name="cameraName" default="camera" /> <!-- camera topic -->
  <arg name="drawMarkers" default="true" /> <!-- show marker track from aruco -->
  <arg name="showViz" default="true" /> <!-- Launch rviz -->
  
  <!-- Launch motion capture system listener -->
  <include file="$(find mocap_optitrack)/launch/mocap.launch" />
  
  <!-- Launch camera driver -->
  <include file="$(find ueye_cam)/launch/cam.launch" />
  <!-- <include file="$(find bluefox2)/launch/single_node.launch" /> -->
  
  <!-- Launch tag tracker -->
  <include file="$(find aruco_ros)/launch/aruco.launch" >
    <arg name="cameraName" value="$(arg cameraName)" />
    <arg name="drawMarkers" value="$(arg drawMarkers)" />
    <arg name="view" value="false" />
    <arg name="adaptiveROI" value="true" />
    <arg name="markerSize" value="0.2032" /> <!-- [meters] -->
    <arg name="image_frame_id" value="image" />
  </include>
  
  <!-- Launch camera to image frame tf publisher. Transform between mocap rigid body of camera and actual image coordinate system -->
  <!-- <node pkg="tf" type="static_transform_publisher" name="image_broadcaster" args="-0.0868978 0.0104688 -0.0126028 -0.57167 -0.434797 0.441465 0.537815 camera image 100" /> -->
  <node pkg="tf" type="static_transform_publisher" name="image_broadcaster" args="-0.0835731 -0.014743 -0.0124397 -0.509044 -0.510976 0.513705 0.464632 camera image 100" />
  
  <!-- Launch world to image pose publisher (i.e. publish pose messages for the corresponding tf) -->
  <node pkg="robot_pose_publisher" type="robot_pose_publisher" name="robot_pose_publisher" output="screen" >
    <param name="map_frame" value="world" />
    <param name="base_frame" value="image" />
    <param name="publish_frequency" value="360.0" />
    <param name="is_stamped" value="true" />
    <remap from="robot_pose" to="image/pose" />
  </node>
  
  <!-- Camera velocity from mocap filter node (backwards difference of pose) -->
  <node pkg="switch_vis_exp" type="filter_node" name="image_vel_filter" ns="image" output="screen" />
  
  <!-- Turtlebot velocity from mocap filter node (backwards difference of pose) -->
  <node pkg="switch_vis_exp" type="filter_node" name="turtlebot_vel_filter" ns="ugv0" output="screen" />
  
  <!-- Move turtlebot along track, xbox controller can override if joy enabled in turtlebot launch file -->
  <group if="$(arg drive)" >
    <node pkg="switch_vis_exp" type="velocity_map_node" name="velocity_map" output="screen" >
      <param name="a" value="1.1" /> <!-- track width -->
      <param name="b" value="1.5" /> <!-- track height -->
      <param name="x0" value="0.5" /> <!-- track center -->
      <param name="y0" value="-0.3" /> <!-- track center -->
      <param name="k1" value="0.5" />
      <param name="k2" value="0.5" />
    </node>
    <node pkg="switch_vis_exp" type="turtlebot_control_node" name="turtlebot_control" ns="ugv0" output="screen" >
      <param name="loopRate" value="100.0" />
      <param name="kw1" value="15.0" />
      <param name="kw2" value="0.01" />
    </node>
  </group>
  
  <!-- Launch Vizualization -->
  <node if="$(arg showViz)" name="rviz" pkg="rviz" type="rviz" />
  
  <!-- Launch Plot -->
  <!-- <node if="$(arg showViz)" name="rqt_plot" pkg="rqt_plot" type="rqt_plot" /> -->
</launch>
