<launch>
  <!-- Launch Parameters -->
  <arg name="cameraName" value="camera" />
  <arg name="recordData" value="false" />
  <arg name="showViz" value="true" />
  <arg name="usePredictor" value="true" />
  <arg name="switching" value="true" />
  <arg name="augmentedObserver" value="true" />
  <arg name="opticFlow" value="true" />
  
  <!-- Simulate measurements -->
  <node name="sim" pkg="switch_vis_exp" type="sim_uio.py" output="screen" >
    <param name="camera" value="$(arg cameraName)" />
  </node>
  
  <!-- Estimator -->
  <node pkg="switch_vis_exp" type="uio_node.py" name="uio" output="screen" />
  
  <!-- Launch Vizualization -->
  <node if="$(arg showViz)" name="rviz" pkg="rviz" type="rviz" />
  
  <!-- Launch Plot -->
  <!-- <node if="$(arg showViz)" name="plot" pkg="rqt_plot" type="rqt_plot" /> -->
  
  <!-- Record data -->
  <node if="$(arg recordData)" name="record" pkg="rosbag" type="record" args="-o /home/ncr/experiment_data/exp_aug_switch.bag /output /debug /filter /markerImage /$(arg cameraName)/camera_info /markerCenters /markers /odom" />
  
</launch>
